:root {
  /* Primary Color */
  --primary-color-1: hsl(322, 100%, 66%); /* Pink */
  --primary-color-2: hsl(322, 100%, 80%);

  /* Neutral Color */
  --neutral-color-1: hsl(193, 100%, 96%); /* Very Pale Cyan */
  --neutral-color-2: hsl(192, 100%, 9%); /* Very Dark Cyan */
  --neutral-color-3: hsl(208, 11%, 55%); /* Grayish Blue */

  /* Introduction color */
  --introduction-color: #edfbfe;

  font-size: 18px;
}

body,
h1,
h2,
p,
ul {
  margin: 0px;
}

body {
  color: var(--neutral-color-2);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}
