.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 80px;
}

.header a {
  padding: 15px 65px;
  background-color: #ffffff;
  border-radius: 40px;
  color: #000100;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.04),
    -1px -1px 4px 1px rgba(0, 0, 0, 0.04);
  font-size: 0.88889rem;
}

.header a:hover {
  color: var(--neutral-color-3);
}
