.introduction-bg {
  background: var(--introduction-color);
}

.introduction {
  background: url("../images/bg-hero-desktop.svg");
}

.introduction-container {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 80px;
  padding: 25px 80px 70px 80px;
}

.introduction-content {
  align-self: center;
}

.introduction-content h1 {
  max-width: 20ch;
  padding-bottom: 40px;
  font-size: 2.25rem;
}

.introduction-content p {
  max-width: 50ch;
  padding-bottom: 35px;
}

.introduction-content a {
  font-size: 0.88889rem;
}

.introduction-content a:hover {
  background: var(--primary-color-2);
}
