.main-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 160px 100px;
}

.main-item {
  display: grid;
  gap: 50px;
  /* grid-template-columns: 60% 40%; */
  grid-template-columns: auto 1fr;
  box-sizing: border-box;
  padding: 50px 30px 50px 120px;
  border-radius: 16px;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.04),
    -1px -1px 4px 1px rgba(0, 0, 0, 0.04);
}

.main-item#even {
  grid-template-columns: 1fr auto;
}

.main-item__content {
  align-self: center;
}

.main-item__content h2 {
  margin-bottom: 20px;
}

.main-item__content p {
  color: var(--neutral-color-3);
  max-width: 60ch;
}
